<h1>Chef Tracker</h1>
<!-- <br> -->
<p>Is your favorite {{cookType}} cooking right now?</P>
<!-- <br> -->
<p>Find out with the <b>Chef Tracker</b>, the hottest new {{cookType}}-tracking app on the market</p>

<p>We know some {{cookType}}s are better than others,
so we want to tell you who's cooking at our restaurant right now.
Is it your favorite {{cookType}}? Then maybe you should visit!</p>
{{input value=cookType}}
